.GLContainer{
    width: 100%;
    height: 100%;
    background-color: yellow;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    
}
.pgTitle{
    display: flex;
    width: 100%;
    height: 8%;
    text-align: left;
    align-items:center ;
    padding-left: 5%;
    font-size: larger;
    font-weight: bold;
    background-color: aqua;

}
.adminHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7vh;
    background-color: #E6F5F1;
    color: #39386A;
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    padding: 2vh;    
}
.selectBtn{
    display: flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    border: none;
}

.glselect{
    background-color: rgba(0, 0, 0, 0);
}